#parse("/velocity/layout.vm")
#@mainLayout()
    #if($person)
    <img src="$person.image" alt="$person.fullName">
    <h1>$person.fullName</h1>
    <h2>$person.role</h2>
    <h3>$person.bio</h3>
    <h4>$person.birthdate</h4>
    <h6>Movies this actor has been in</h6>
    #foreach($movie in $movies)
    	<img src="$movie.image" alt="$movie.name">
    #else
    <h1>Sorry we are unable to find the person that you are looking for</h1>
    #end
#end
