#parse("/velocity/layout.vm")
#@mainLayout()

    #if($userObject.admin)


        <div class="container">
            <h1>Admin Portal</h1>
        </div>

    <form method="post">

        <div class="container">
            <h1 class="header">Entries Under Investigation</h1>

            <table>
                <thead>
                    <td>Show Title</td>
                    <td>Genre</td>
                    <td>Length</td>
                    <td>Year</td>
                    <td>Approve</td>
                    <td>Suspend</td>
                    <td>Remove</td>
                </thead>

                #foreach($show in $pendingList)
                    <tr class="AProw">
                        <td>$show.showTitle</td>
                        <td>$show.genre</td>
                        <td>$show.length</td>
                        <td>$show.year</td>
                        <td><button class="miniBtn" name="alter" type="submit" value="$show.showid, Visible">APPROVE</button></td>
                        <td><button class="miniBtn" name="alter" type="submit" value="$show.showid, Suspended">SUSPEND</button></td>
                        <td><button class="miniBtn remove" name="alter" type="submit" value="$show.showid, Remove">REMOVE</button></td>
                #end

            </table>

        </div>

    <div class="container">
        <h1 class="header">Suspended Shows</h1>

        <table>
            <thead>
            <td>Show Title</td>
            <td>Genre</td>
            <td>Length</td>
            <td>Year</td>
            <td>Approve</td>
            <td>Remove</td>
            </thead>

            #foreach($show in $suspendedList)
                <tr class="AProw">
                    <td>$show.showTitle</td>
                    <td>$show.genre</td>
                    <td>$show.length</td>
                    <td>$show.year</td>
                    <td><button class="miniBtn" name="alter" type="submit" value="$show.showid, Visible">APPROVE</button></td>
                    <td><button class="miniBtn remove" name="alter" type="submit" value="$show.showid, Remove">REMOVE</button></td>
                </tr>
            #end

        </table>

    </div>

    </form>

    #else
        <h1>You do not have admin rights</h1>
    #end

#end