#parse("/velocity/layout.vm")
#@mainLayout()

    #if($currentUser)

        <div class="container">

            <h3>Enter a new show with the details below, it will be submitted for further investigation by administrators:</h3>

        </div>

        <div class="container">

            <h1 class="header">Show Entry</h1>

            <form method="post" id="addForm">

                <input type="hidden" name="isProco" value="$userObject.proco">

                <label>Show Title:</label><input type="text" name="title" required>
                <label>Genre:</label><input type="text" name="genre" required>
                <label>Length:</label><input type="text" name="length" required>
                <label>Movie:</label><input type="checkbox" name="movie" value="1">
                <input type="hidden" name="movie" value="0">
                <br>
                <br>
                <label>Series:</label><input type="checkbox" name="series" value="1">
                <input type="hidden" name="series" value="0">
                <br>
                <br>
                <label>Production Company:</label>
                <br>
                <select name="proco" id="proco">
                    #foreach($pro in $proCo)
                        <option value="$pro.procoId">$pro.name</option>
                    #end
                </select>
                <label>Year:</label><input type="text" name="year" required>

                <input type="submit" class="defaultBtn">

            </form>

        </div>


    #else
        <h1>You must be logged in to use this feature.</h1>
    #end



#end