#parse("/velocity/layout.vm")
#@mainLayout()
    #if($show && $productionCompany && ( ($show.status == "Visible") || ($show.status == "Submitted") ) )
    
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script>
		var ratedIndex = -1;
		var actualRating = 0;
		
		
			
		function resetStars(){
		$('.review').css('color', 'black');
		}
		
		function checkStars(){
			if(ratedIndex == -1){
				alert('Please enter your star rating.');
				return false;
			}else{
				return true;
			}
		}
		
		function loadStars(rating, reviewId){
			var elements = document.getElementsByClassName(reviewId);
			if(rating != 0){
					for(var i = 0; i < rating; i++){
						elements[i].style.color = '#ffdf00' ;
					}
				}
		}
		
	</script>
	
		<div class="container">

		<h1 class="header">$show.showTitle - ($show.year)</h1>

		<img class="jumbo" src="$show.image" alt="$show.showTitle">

		<div class="specs right">
			<h3>Specifications</h3>
			<p>Runtime: $show.length hrs</p>
			<p>Genre: $show.genre</p>
			<p>Productions Company: $productionCompany.name</p>
			
			<input type="hidden" id="avgRating" name="avgRating" value=$avgRating>
			
			<i class="fa fa-star avgRating"></i>
			<i class="fa fa-star avgRating"></i>
			<i class="fa fa-star avgRating"></i>
			<i class="fa fa-star avgRating"></i>
			<i class="fa fa-star avgRating"></i>
			
			
		</div>
		
		</div>

		<div class="container">
			<h1 class="header">Cast</h1>
			<table>
				<thead>
					<td>Cast Member</td>
					<td>Character</td>
					<td>Role</td>
					<td>Start Year</td>
				</thead>
				#foreach($actor in $actors)
					<tr>
						<td>$actor.person</td>
						<td>$actor.character</td>
						<td>$actor.role</td>
						<td>$actor.startYear</td>
					</tr>
			#end
		</table>
		#if(!$actors)
			<h2 class="rateLoginError">No Actors have been Added yet</h2>
		#end
	</div>

	<div class="container">

		#if($currentUser)
			<div class="formContainer">
				<h1 class="header">Write a Review</h1>
				<form class="formReview" id="review" method="post">
					<div class="reviewOne">
						<i class="fa fa-star review" data-index="0"></i>
						<i class="fa fa-star review" data-index="1"></i>
						<i class="fa fa-star review" data-index="2"></i>
						<i class="fa fa-star review" data-index="3"></i>
						<i class="fa fa-star review" data-index="4"></i>
					</div>
						<input type="hidden" id="ratingNumber" name="ratingNumber" value="0" required>
						<input type="hidden" id="showId" name="showId" value=$show.showid required>
					<div class="reviewTwo">	
						<textarea rows="6" cols="100" name="textReview" required></textarea>
					</div>
					
					<div class="reviewThree">
						<input class="rateButton" type="submit" value="Rate" onClick="return checkStars();"/>
					</div>
					
				</form>
			</div>
		#else
			<h2 class="rateLoginError" >You must log in to rate and review shows</h2>
		#end

	</div>
	<div class="container">
		<h1 class="header">User Reviews</h1>
		
		#foreach($review in $allReviews)
		<div class="reviews">
				<div class="reviewName">
					<h3>$review.userName</h3>
				</div>
				<div class="reviewStars">
					<i class="fa fa-star $review.reviewId" data-index="0"></i>
					<i class="fa fa-star $review.reviewId" data-index="1"></i>
					<i class="fa fa-star $review.reviewId" data-index="2"></i>
					<i class="fa fa-star $review.reviewId" data-index="3"></i>
					<i class="fa fa-star $review.reviewId" data-index="4"></i>
						
					<script>
   						loadStars($review.rating, '$review.reviewId');
					</script>
					
				</div>
				<div class="reviewText">
					<p class="reviewTextFormat" >$review.review</p>
				</div>
			</div>
			
			<div class="reviewBreak"></div>
				
		#end
	</div>
    #else
   		<h1>Sorry we are unable to find the show that you are looking for</h1>
    #end
    <script>
    $(document).ready(function() {
			resetStars();
			
			var avgRating = document.getElementById("avgRating").value;
			
				if(avgRating != 0){
					for(var i = 0; i < avgRating; i++){
						$('.avgRating:eq('+i+')').css('color', '#ffdf00');
					}
				}
			
			$('.review').on('click', function () {
				ratedIndex = parseInt($(this).data('index'));
				actualRating = ratedIndex;
				actualRating++;
				console.log(ratedIndex);
				document.getElementById("ratingNumber").value = actualRating;
			});
			
			$('.review').mouseover(function () {
				resetStars();
				
				var currDataIndex = parseInt($(this).data('index'));
				
				for(var i=0; i <= currDataIndex; i++)
					$('.review:eq('+i+')').css('color', '#ffdf00');
			});
		});
		
			$('.fa-star').mouseleave(function () {
				resetStars();
				
				if(ratedIndex != -1){
					for(var i=0; i <=  ratedIndex; i++){
						$('.review:eq('+i+')').css('color', '#ffdf00');
					}
				}
			});
    </script>
#end

