#parse("/velocity/layout.vm")
#@mainLayout()
    #if($show)
    <h1>$show.showTitle</h1>
    <h2>$show.length</h2>
    <h3>$show.genre</h3>
    <h4>$show.year</h4>
    #else
    <h1>Sorry we are unable to find the show that you are looking for</h1>
    #end
#end
